html {
  height: 100%;
  width: 100%;
body{ background-color: #e5d6cc;}
h1{color: #0f2a4d;
  font-family: 'Sofia Sans', sans-serif;}
h2{color: #0f2a4d;
  font-family: 'Sofia Sans', sans-serif;}
p{color: #0f2a4d;}
}
